.posts {
  list-style-type: none;
  margin: 0;
  display: flex;
  justify-content: center;
}

a {
  color: #fff;
  transition: all 0.2s ease;

  &:hover {
    color: rgba(0, 100, 172, 1);
    transition: all 0.2s ease;
  }
}

.post {
  margin: 0;

  .blog-title {
    margin-bottom: 0;
    color: #f2e0b5;
    text-transform: uppercase;
    transition: all 0.2s ease;
  
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 600;
    font-display: swap;
  }
  
  .blog-details {
    font-size: 1rem;
    color: #fff;
    text-transform: uppercase;
  
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
  }

  a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    transition: 500ms ease all;
    position: relative;
  }

  p {
    color: #fff;
    margin-bottom: 0;
  }

  h3 {
    font-size: 3rem;
    display: inline;
  }

  &:hover {

    .blog-title {
      color: rgba(0, 100, 172, 1);
      transition: all 0.2s ease
    }
  }
}

