.posts {
  list-style-type: none;
  margin: 0;
  justify-content: center;
}

a {
  color: #fff;
  transition: all 0.2s ease;

  &:hover {
    color: rgba(0, 100, 172, 1);
    transition: all 0.2s ease;
  }
}

.post {
  margin: 0;

  .blog-title {
    margin-bottom: 0;
    color: #f2e0b5;
    // text-transform: uppercase;
    transition: all 0.2s ease;
  
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 800;
    font-display: swap;

    font-size: 2rem;

    position: relative;

    &::after {
      content: ' ';
      background-color: rgba(0, 100, 172, 1);      
      display: block;
      height: 2px;
      opacity: 1;
      position: absolute;
      left: 0;
      z-index: -1;
      width: calc(100% + 0px);
      transform: scaleX(0);
      transform-origin: 0% 50%;
      bottom: -8px; 

      transition: all 0.3s ease-in-out;
      transition-delay: 0.1s;
    }
  }
  
  .blog-details {
    font-size: 1rem;
    color: #fff;
    text-transform: uppercase;
  
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
  }

  a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    transition: 500ms ease all;
    position: relative;
  }

  p {
    color: #fff;
    margin-bottom: 0;
  }

  h3 {
    font-size: 3rem;
    display: inline;
  }

  &:hover {

    .blog-title {
      color: rgba(0, 100, 172, 1);
      transition: all 0.2s ease
    }

    .blog-title::after {
      transform: scaleX(1);
      transition: all 0.3s ease-in
    }
  }
}

