.posts {
  list-style-type: none;
  margin: 0;
}

.blog-title {
  margin-bottom: 0;
  color: #fff;
}

.blog-details {
  font-size: 1rem;
  color: #fff;
}

.post {
  margin: 0;

  a {
    
    color: #111111;
    display: block;
    padding: 1rem;
    text-decoration: none;
    transition: 500ms ease all;
    position: relative;
  }

  p {
    
    margin-bottom: 0;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 900;
    display: inline;
  }

  &:hover {

    
    .blog-title {
      color: #000;
    }
  }

}

