:root {
  --highlight-color: #9DCFBE;
  --highlight-color: #000;
}

.posts {
  display: flex;
  list-style-type: none;
  margin: 0;
  justify-content: center;

  li {
    display: flex;
    align-content: center;
    padding: 5px;
    position: relative;

    .blog-title {

      // &::after {
      //   content: ' ';
      //   background-color: var(--highlight-color);
      //   display: block;
      //   height: 50%;
      //   opacity: 0;
      //   position: absolute;
      //   left: 10px;
      //   z-index: -1;
      //   width: calc(100% + 0px);
      //   bottom: 2px;
      // }

      // &:hover::after {
      //   opacity: 1;
      // }

      &:hover {
        box-shadow: inset 0 -15px 0 var(--highlight-color);
      }
    }
  }
}

a {
  color: #fff;

  &:hover {
    color: #f2e0b5;
  }
}

.subheading {
  display: flex;
  justify-content: center;

  p {
    width: 50%;
    text-align: center;
  }
}

.post {
  margin: 3rem 0;

  .blog-title {
    margin-bottom: 0;
    color: hsla(42, 70%, 83%, 1);

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-display: swap;

    font-size: 1.2rem;

    position: relative;

    flex-grow: 1;
  }

  .blog-details {
    font-size: 0.8rem;
    color: rgba(24, 24, 25, 1);
    position: relative;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }

  a {
    display: block;
    padding: 0 1rem;
    text-decoration: none;
    transition: 500ms ease all;
    position: relative;
  }

  p {
    position: absolute;
    color: #fff;
    padding: 0 1rem 0 0;
    margin-bottom: 0;
    align-self: center;
  }

  h3 {
    font-size: 2rem;
    display: inline;
  }
}