.posts {
  list-style-type: none;
  margin: 0;
  justify-content: center;

  li {
    display: flex;
    align-content: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(24, 24, 25, 1);
    padding: 5px;
    position: relative;

    transition: all 0.2s ease;

    &::after {
      content: ' ';
      background-color: rgba(24, 24, 25, 1);
      ;
      display: block;
      height: 100%;
      opacity: 1;
      position: absolute;
      left: 0;
      z-index: -1;
      width: calc(100% + 0px);
      transform: scaleY(0);
      transform-origin: 0% 100%;
      bottom: 0;

      -webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
      -o-transition: all 0.2s ease-out;
      -ms-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out;
    }

    &:hover {
      p, 
      .blog-title {
        color: rgba(255, 240, 228, 1);
      }

      &::after {
        transform: scaleY(1); 
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        -ms-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
      }
      
      // background-color: rgba(24, 24, 25, 1);

      transition: all 0.2s ease;
    }
  }
}

a {
  color: rgba(24, 24, 25, 1);
  transition: all 0.2s ease;

  &:hover {
    color: rgba(24, 24, 25, 1);
    transition: all 0.2s ease;
  }
}

  .title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-display: swap;

    text-align: center;

    color: #fff0e4;

    font-size: 5vmin;
    text-transform: uppercase;

    margin: 2rem 0;

    background-color: rgba(24, 24, 25, 1);
    padding: 0.8rem;
    display: inline-block;
  }

.post {
  margin: 3rem 0;

  .blog-title {
    margin-bottom: 0;
    color: rgba(24, 24, 25, 1);
    transition: all 0.2s ease;
  
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 800;
    font-display: swap;

    font-size: 1.5rem;

    position: relative;
  }
  
  .blog-details {
    font-size: 1rem;
    color:rgba(24, 24, 25, 1);
    text-transform: uppercase;
    position: relative;
  
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
  }

  a {
    display: block;
    padding: 0 1rem;
    text-decoration: none;
    transition: 500ms ease all;
    position: relative;
  }

  p {
    position: absolute;
    color: #fff;
    padding: 0 1rem;
    margin-bottom: 0;
    align-self: center;
  }

  h3 {
    font-size: 2rem;
    padding: 0 1rem;
    display: inline;
  }

  &:hover {

    .blog-title {
      color: rgba(24, 24, 25, 1);
      transition: all 0.2s ease
    }

    .blog-title::after {
      transform: scaleX(0);
      transition: all 0.3s ease-in
    }
  }
}

