.project-wrapper {
    display: flex;
    flex-direction: column;

    padding-top: 10px;

    a {
      text-decoration: none;
    }

    h4 {
        margin: 0 0 1px 0;
        font-family: 'Inter';
        font-style:  normal;
        font-weight: 400;
        font-display: swap;
        // text-transform: uppercase;

        color: rgba(24, 24, 25, 1);

        // background: linear-gradient(
        // 45deg,
        // rgba(169, 180, 31, 1),
        // rgba(255, 193, 7, 1),
        // rgba(183, 21, 64, 1)
        // );
        // background-size: 300% 300%;
        // -webkit-animation: gradient 15s ease infinite;
        // animation: gradient 15s ease infinite;

        // background-clip: text;
        // -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent;
    }

    h3 {
        font-family: 'Inter';
        font-style:  normal;
        font-weight: 800;
        font-display: swap;
    }

    p {
        padding: 2vw 0;
        color: rgba(24, 24, 25, 1);
    }

    .project {
        min-height: calc(100vh/2);
        padding: 2vw 0;

        a {
          color: hsla(42, 70%, 83%, 1);
        }

        .overlay-wrapper {
          background-color: black;
          position: relative;
          display: block;
          height: 100%;
          width: 100%;
        }

        .overlay {
          background-color: rgba(0, 0, 0, 0.8);
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          display: block;
          height: 100%;
          width: 100%;
          opacity: 0;
          transition: 0.2s all ease;

          .overlay-title {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
        }

        &:hover {
          
          .overlay {
            opacity: 1;
            transition: 0.2s all ease;
          }
        }
    }
}

.title {
  font-family: 'Montreal';
  font-style: normal;
  font-weight: 800;
  font-display: swap;

  text-align: center;

  color: rgba(24, 24, 25, 1);

  font-size: 10vmin;
  text-transform: uppercase;

  margin: 2rem 0;
  display: inline-block;
}

.subheading {
  display: flex;

  p {
    width: 50%;
  }
}

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }