.footer {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;

  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;

  nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  nav ul li span {
    font-size: .8rem;
    margin-right: .2rem;
  }

  .copyright {
    font-size: .6rem;
  }

}

.social-nav-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;

    li {
      margin-bottom: 0.2rem;
    }

    p {
      font-size: .9rem;
    }

    a {
      color: #fff;
      font-size: 1rem;
      text-decoration: none;
      font-weight: 600;

      transition: 0.2s ease;
    
    &:hover {
      color: #fdd630;
      transition: 0.2s ease;
    }
  }
}