.footer {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;

  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;

  nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  nav ul li span {
    font-size: .8rem;
    margin-right: .2rem;
  }

  .copyright {
    font-size: .6rem;
  }

}

.social-nav-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;

    li {
      margin-bottom: 0.2rem;
    }

    p {
      font-size: .9rem;
    }

    a {
      color: rgba(24, 24, 25, 1);
      font-size: 1rem;
      text-decoration: none;
      font-weight: 400;
      position: relative;

      transition: 0.2s ease;

      &::after {
        content: ' ';
        background-color: rgba(24, 24, 25, 1);
        display: block;
        height: 1px;
        opacity: 1;
        position: absolute;
        left: 0;
        z-index: -1;
        width: calc(100% + 0px);
        transform: scaleX(0);
        transform-origin: 0% 50%;
        bottom: -1px;

        transition: all 0.2s ease-in-out;
        transition-delay: 0.1s;
      }

      &:hover::after {
         transform: scaleX(1);
         transition: all 0.2s ease-in-out;
      }
  }
}

@media only screen and (max-width: 768px) {
  .footer {
    align-items: center;
  }
  .social-nav-list {

    align-items: center;

    p {
      font-size: 1.2em;
      font-weight: 800;
      margin-bottom: 0;
      margin-top: 0.9rem;
    }
  }

  nav {
    flex-direction: column;
  }
}