.header {
    padding: 1rem 0 1rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.title {
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
    font-weight: 800;
    position: relative;
}

.title::after {
  background-color: #fff;
  content: ' ';
  display: block;
  height: calc(50% + 0px);
  opacity: 1;
  position: absolute;
  left: 2px;
  bottom: 2px;
  width: calc(100% + 0px);
  z-index: -1;
  transform: scaleY(0);
  transform-origin: 0% 100%;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.title:hover::after {
  transform: scaleY(1);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.title:hover {
  color: #000;
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.nav-item {
    color: #fff;
    font-size: .9rem;
    margin: 0 .5rem;
    padding: .3rem .5rem;
    text-decoration: none;
    font-weight: 500;
    position: relative;
}

.nav-item:hover {
  color: #f6b933;
  background: white;
  border-radius: 4px;
}

// .nav-item::after {
//   background-color: #fff;
//   content: ' ';
//   display: block;
//   height: calc(50% + 0px);
//   opacity: 1;
//   position: absolute;
//   left: 2px;
//   bottom: 2px;
//   width: calc(100% + 0px);
//   z-index: -1;
//   transform: scaleY(0);
//   transform-origin: 0% 100%;
//   -webkit-transition: all 0.2s ease-out;
//   -moz-transition: all 0.2s ease-out;
//   -o-transition: all 0.2s ease-out;
//   -ms-transition: all 0.2s ease-out;
//   transition: all 0.2s ease-out;
// }

// .nav-item:hover::after {
//   transform: scaleY(1);
//   -webkit-transition: all 0.2s ease-out;
//   -moz-transition: all 0.2s ease-out;
//   -o-transition: all 0.2s ease-out;
//   -ms-transition: all 0.2s ease-out;
//   transition: all 0.2s ease-out;
// }

.active-nav-item {
  color: #f6b933;
  background: white;
  border-radius: 4px;
}

// .active-nav-item::after {
//   background-color: #fff;
//   content: ' ';
//   display: block;
//   height: calc(50% + 0px);
//   opacity: 1;
//   position: absolute;
//   left: 2px;
//   bottom: 2px;
//   width: calc(100% + 0px);
//   z-index: -1;
//   transform: scaleY(1);
//   transform-origin: 0% 100%;
//   -webkit-transition: all 0.2s ease-out;
//   -moz-transition: all 0.2s ease-out;
//   -o-transition: all 0.2s ease-out;
//   -ms-transition: all 0.2s ease-out;
//   transition: all 0.2s ease-out;
// }