.header {
    padding: 1rem 0 1rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.title {
    color: #333333;
    font-size: 1rem;
    text-decoration: none;
    font-weight: 800;
    position: relative;
}

.title:hover {
  color: #000;
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.nav-item {
    color: rgba(0,0,0,.45);
    font-size: .9rem;
    margin: 0 .8rem;
    // padding: .5rem .8rem;
    text-decoration: none;
    font-weight: 500;
    position: relative;
}

.nav-item:hover {
  color: #111;
}

.nav-item::after {
  background-color: #F8EFBA;
  content: ' ';
  display: block;
  height: calc(50% + 0px);
  opacity: 1;
  position: absolute;
  left: 2px;
  bottom: 2px;
  width: calc(100% + 0px);
  z-index: -1;
  transform: scaleX(0);
  transform-origin: 0% 0%;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;

}
.nav-item:hover::after {
  transform: scaleX(1);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.active-nav-item {
  color: #111;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}