.header {
    padding: 2rem 0 2rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul li.name {
  margin: 0 10rem;
}

.title {
    color: #fff;
    font-size: 1.2rem;
    text-decoration: none;
    padding: .3rem 0;
    position: relative;
    text-transform: uppercase;

    transition: 0.2s ease;
}

.title::after {
  background-color: #fff;
  content: ' ';
  display: block;
  height: 2px;
  opacity: 1;
  position: absolute;
  left: 0;
  z-index: -1;
  width: calc(100% + 0px);
  transform: scaleX(0);
  transform-origin: 0% 50%;
  bottom: -1px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.title:hover::after {
  transform: scaleX(1);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.nav-item {
    color: #fff;
    font-size: 1.2rem;
    margin: 0 .5rem;
    padding: .3rem 0 ;
    text-decoration: none;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
}

.nav-item:hover {
  color: #fff;
  transition: 0.2s ease;
}

.active-nav-item::after {
   background-color: #fdd630;
   content: ' ';
   display: block;
   height: 2px;
   opacity: 1;
   position: absolute;
   left: 0;
   z-index: -1;
   width: calc(100% + 0px);
   transform: scaleX(1);
   transform-origin: 0% 50%;
   bottom: -1px;
 }