.header {
    padding: 2rem 0 2rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul li.name {
  margin: 0 10vw;
}

header nav ul li.name-mobile {
  display: none;
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.nav-item {
    color: rgba(24, 24, 25, 1);
    font-size: 1rem;
    margin: 0 .5rem;
    padding: .3rem 0 ;
    text-decoration: none;
    position: relative;
    text-transform: uppercase;

    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;

    transition: 0.2s ease;
    

  &::after {
    background-color: rgba(24, 24, 25, 1);
    content: ' ';
    display: block;
    height: 1px;
    opacity: 1;
    position: absolute;
    left: 0;
    z-index: -1;
    width: calc(100% + 0px);
    transform: scaleX(0);
    transform-origin: 0% 50%;
    bottom: 2px; 

    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }

  &:hover::after {
    transform: scaleX(1);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
}

.active-nav-item {

  &:hover {
    color: rgba(24, 24, 25, 1);
  }

  &::after {
   background-color: rgba(24, 24, 25, 1);
   content: ' ';
   display: block;
   height: 1px;
   opacity: 1;
   position: absolute;
   left: 0;
   z-index: -1;
   width: calc(100% + 0px);
   transform: scaleX(1);
   transform-origin: 0% 50%;
   bottom: 2px;
 }
}

header nav ul li.name {
  margin: 0 10vw;
}

@media only screen and (max-width: 768px) {
  
  header nav ul li.name {
    display: none;
  }

  header nav ul li.name-mobile {
    display: block;

    a {
      font-weight: 800;
    }
  }

}