.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

.content {
  flex-grow: 1;
}

.hero {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-display: swap;

  font-size: 4rem;
  line-height: 1.2;
  text-align: center;

  letter-spacing: -0.2rem;

  a {
    text-decoration: none;
    // text-shadow: 2px 2px #fff0e4, 2px -2px #fff0e4, -2px 2px #fff0e4, -2px -2px #fff0e4;
  }
}

.accent {
  background: linear-gradient(45deg,
      rgba(255, 193, 7, 1),
      rgba(183, 21, 64, 1));
  background-size: 300% 300%;
  -webkit-animation: gradient 15s ease infinite;
  animation: gradient 15s ease infinite;

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-display: swap;

  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;

  &::after {
    background-color: #f2e0b5;
    ;
    content: ' ';
    display: block;
    height: 3px;
    opacity: 1;
    position: absolute;
    left: 0;
    z-index: -1;
    width: calc(100% + 0px);
    transform: scaleX(0);
    bottom: 4px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }

  &:hover {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-display: swap;

    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }

  &:hover::after {
    transform: scaleX(1);
  }

  &.available {
    padding-right: 0.5rem;
  }
}

a {
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .hero {
    font-size: 1.7rem;
    letter-spacing: 0rem;
    text-align: left;
  }

  .accent {
    background: transparent;
    color: #fff;
    background-clip: none;
    -webkit-background-clip: none;
    -webkit-text-fill-color: #fff;

    &.available {
      padding-right: 0rem;
    }

    &::after {
      background-color: #fff;
      content: ' ';
      display: block;
      height: 1px;
      opacity: 1;
      position: absolute;
      left: 0;
      z-index: -1;
      width: calc(100% + 0px);
      transform: scaleX(1);
      bottom: 1px;
    }
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}